<div class="card">

    <div class="card-header">
{{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3">
               Filter By <input type="text" [(ngModel)]='listFilter'/>
            </div>
            <br>
<div *ngIf='listFilter'> 
    Filter By:{{listFilter}}
</div>
          
         

      
            <div class="table-responsive">
            <table class="table" *ngIf='products.length'>
                    <thead>
                        <tr>
                            <th>
                                <button class="btn btn-primary" (click)='toggleImage()'> 
                                {{showImage? 'Hide':'Show'}}  Image
                                </button>
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Available
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Rating
                            </th>
                        </tr>
                    </thead>
                        <tr *ngFor='let product of filterProducts'>
                            <td>
                                <img *ngIf='showImage' [src]='product.imageUrl' [style.width.px]='imageWidth' [style.margin.px]='imageMargin' [title]='product.productName'/>
                            </td>
                        <a [routerLink]="['/products', product.productId]" >   <td>
                                {{product.productName}}
                            </td>
                        </a> 
                            <td>
                                {{product.productCode | convertToSpaces:'-'}}
                            </td>
                            <td>
                                {{product.releaseDate}}
                            </td>
                            <td>
                                {{product.price|currency:'PKR':'symbol':'1.2-2'}}
                            </td>
                            <td>
                                {{product.starRating}}
                           <pm-star [rating]='product.starRating' 
                           (ratingClicked)='onRatingClicked($event)'>
                                
                           </pm-star>
                            </td>
                        </tr>
                  
            </table>
            </div>
        </div>

    </div>
 
</div>